<!DOCTYPE html>
<html lang="zh-Hant">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE = edge">
        <meta name="viewport" content="width = device-width, initial-scale = 1.0">
        <link rel="stylesheet" href="{{url_for('static', filename = 'styles/common.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename = 'styles/attraction.css')}}">
        <title>台北一日遊</title>
    </head>
    <body>
        <div class="log-in-filter">
            <div class="log-in-panel">
                <div class="gradient"></div>
                <img class="close-button" src="{{url_for('static', filename = 'images/icon_close.png')}}" alt="">
                <h3 class="bold">登入會員帳號</h3>
                <input class="body-med email-log-in" type="text" placeholder="輸入電子信箱">
                <div class="password-input">
                    <input class="body-med password-log-in" type="password" placeholder="輸入密碼">
                    <img src="{{url_for('static', filename = 'images/icon_eye.png')}}" alt="" class="password-eye">
                </div>
                <button class="button log-in-button">登入帳戶</button>
                <p class="body-med">還沒有帳戶？<span class="toggle-sign-up">點此註冊</span></p>
            </div>
            <div class="sign-up-panel">
                <div class="gradient"></div>
                <img class="close-button" src="{{url_for('static', filename = 'images/icon_close.png')}}" alt="">
                <h3 class="bold">註冊會員帳號</h3>
                <input class="body-med name-sign-up" type="text" placeholder="輸入姓名">
                <input class="body-med email-sign-up" type="text" placeholder="輸入電子郵件">
                <div class="password-input">
                    <input class="body-med password-sign-up" type="password" placeholder="輸入密碼">
                    <img src="{{url_for('static', filename = 'images/icon_eye.png')}}" alt="" class="password-eye">
                </div>
                <button class="button sign-up-button">註冊新帳戶</button>
                <p class="body-med">已經有帳戶了？<span class="toggle-log-in">點此登入</span></p>
            </div>
        </div>
        <nav>
            <div class="nav-container">
                <h2>
                    <a href="/">台北一日遊</a>
                </h2>
                <ul class="body-med">
                    <li class="booking-page-button">預定行程</li>
                    <li class="log-in-sign-up">登入/註冊</li>
                </ul>
            </div>
        </nav>
        <main>
           <section class="main-top">
            <div class="images">
                <div class="dot-container"></div>
                <button class="left-arrow">
                    <div class="filter"></div>
                    <img src="{{url_for('static', filename = 'images/btn_left_arrow.png')}}" alt="">
                </button>
                <button class="right-arrow">
                    <div class="filter"></div>
                    <img src="{{url_for('static', filename = 'images/btn_right_arrow.png')}}" alt="">
                </button>
            </div>
            <div class="info">
                <div class="name"></div>
                <div class="category-mrt"></div>
                <div class="booking">
                    <p class="body-bold">訂購導覽行程</p>
                    <p class="body-med">以此景點為中心的一日行程，帶您探索城市角落故事</p>
                    <div class="date-select">
                        <label for="" class="body-bold">選擇日期：</label>
                        <input type="date" class="body date-select">
                    </div>
                    <div class="time-select">
                        <label for="" class="body-bold">選擇時間：</label>
                        <div class="check-container">
                            <input type="radio" name="time" class="radio-day" value="morning,2000" checked>
                            <span class="check-radio"></span>
                        </div>
                        <p class="body-med">上半天</p>
                        <div class="check-container">
                            <input type="radio" name="time" class="radio-night" value="afternoon,2500" >
                            <span class="check-radio"></span>
                        </div>
                        <p class="body-med">下半天</p>
                    </div>
                    <div class="price">
                        <p class="body-bold">導覽費用：</p>
                        <p class="body-med price-detail">新台幣 2000 元</p>
                    </div>
                    <button class="button booking-submit">開始預約行程</button>
                </div>
            </div>
           </section>
           <hr>
           <section class="main-bottom">
            <div class="description"></div>
            <div class="address">
                <p class="body-bold">景點地址：</p>
            </div>
            <div class="transport">
                <p class="body-bold">交通方式：</p>
            </div>
           </section>
        </main>
        <footer id="scroll-bottom-detector">
            <p class="body-bold" >COPYRIGHT © 2021 台北一日遊</p>
        </footer>
        <script type="module" src="{{url_for('static', filename = 'scripts/attraction.js')}}"></script>
        <script type="module" src="{{url_for('static', filename = 'scripts/userAuthentication.js')}}"></script>
    </body>
</html>