$primary-cyan-70:#448899;
$primary-cyan-50:#66AABB;
$primary-cyan-20:#AADDEE;
$secondary-gray-70:#666666;
$secondary-gray-50:#757575;
$secondary-gray-20:#E8E8E8;
$secondary-gray-10:#F8F8F8;
$light-cyan-135deg:linear-gradient(135deg, #AADDEE, #66AABB);
$light-dark-270deg:linear-gradient(270deg, #337788, #66AABB);
$blue-gray:#AABBCC;
$white:#FFFFFF;
$black:#000000;
$warning:#FF3333;
$success: #33FF33;