@import "./variables";

body{
  display: flex;
  flex-direction: column;
  align-items: center;

  section.hero{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 320px;

    div.search-bar-container{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 65%;
      width: 1200px;
      margin-left: 15px;

      h1{
        color: $secondary-gray-10;
      }
      p{
        color:$secondary-gray-10
      }
      div.search-bar{
        display: flex;

        input{
          width: 400px;
          height: 46px;
          border: none;
          border-radius: 8px 0 0 8px;
          padding: 15px;
          box-shadow:  0px 0px 20px #AABBCC;
        }

        button{
          width: 60px;
          height: 46px;
          background-color: $primary-cyan-70;
          border: none;
          border-radius: 0 8px 8px 0;
          cursor: pointer;
          img{
            position: static;
            width: 30px;
            height: 30px;
          }
        }
        div.category-menu{
          position: absolute;
          animation: 0.4s fade-in;
          z-index: 1;
          bottom: -39px;
          display: flex;
          flex-wrap: wrap;
          width: 400px;
          background-color: $white;
          border-radius: 5px;
          box-shadow:  0px 0px 20px #AABBCC;;
          p.category{
            display: flex;
            align-items: center;
            width: 120px;
            height: 40px;
            padding: 10px 15px 10px 15px;
            border-radius: 5px;
            color: $black;
          }
          p.category:hover{
            cursor: pointer;
            background-color: $secondary-gray-20;
          }
        }
      }
      
    }
    img{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      z-index: -1;
      object-fit: cover ;
      object-position: top;
    }
  }
  
  main{
    section.main-content-container{
      width: 1200px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin: 40px 0 40px 0;

      a{
        width: 270px;
        margin: 15px;

        div.attraction-container{
          position: relative;
          display: flex;
          flex-direction: column;
          border: $secondary-gray-20 solid 1px;
          border-radius: 5px;
          div.attraction-title{
            position: relative;
            height: 197px;
            img{
              object-fit: cover;
              border-radius: 5px 5px 0 0;
              width: 100%;
              height: 100%;
            }
            div.attraction-name-container{
              background-color: rgba($black, 0.6);
              width: 100%;
              display: flex;
              position: absolute;
              height: 45px;
              bottom: 0;
              
              p.attraction-name{
                display: flex;
                align-items: center;
                color: $white;
                height: 100%;
                width: 100%;
                padding: 10px;
                line-height: 1.1;
              }
            }
          }
          div.attraction-detail{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 45px;
            p{
              color: $secondary-gray-50;
              padding: 10px;
            }
          }
        }
        div.filter{
          position: absolute;
          z-index: 2;
          width: 100%;
          height: 100%;
          border-radius: 5px;
        }
        div.filter:hover{
          opacity: 0.4;
          background-color: #666666;
          animation: 0.5s hover-filter;
        }
      }
    }
  }
}

@keyframes hover-filter{
  from{
    opacity: 0;
  }
  to{
    opacity: 0.4;
  }
}
@keyframes fade-in{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
@media screen and (max-width:1200px){
  body{
    main{
      section.main-content-container{
        width: 100%;

        a{
          width: 40%;
        }
      }
    }
  }
}

@media screen and (max-width:600px){
  body{
    section.hero{
      div.search-bar-container{
        div.search-bar{
          input{
            width: 230px;
          }
          div.category-menu{
            width: 322px;
  
            p.category{
              width: 96px;
            }
          }
        }
      }
    }
    main{
      section.main-content-container{
        width: 360px;
        justify-content: center;

        a{
          width: 322px;
          div.attraction-container{
            div.attraction-title{
              height: 235px;
            }
          }
        }
      }
    }
  }
}